<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cooking Contest</title>
</head>
<body>
    <div style="text-align: right; padding-right: 20px;">
        <form action="/dacontest/logout" method="GET">
            <button type="submit">Logout</button>
        </form>
    </div>
    
    <h2>User Profile</h2>

    <!-- Display user information -->
    <% if (user.cook_image) { %>
        <p><%= user.cook_image %></p>
    <% } %>
    <p>First Name: <%= user.first_name %></p>
    <p>Last Name: <%= user.last_name %></p>
    <p>Phone Number: <%= user.phone_number %></p>
    <p>Birthday: <%= user.birth_date.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %></p>
    <p>Age: <%= user.age %></p>
    <p>Years of Experience: <%= user.years_of_experience %></p>
    <p>Position: <%= user.position %></p>

</body>
</html>
